@import './base.css';
@import './components.css';
@import './utilities.css';

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
  animation-duration: 25s;
}
